
	<!-- ===================================================================== WP-FOOTER ======================================================================= -->
	<div id="wp-footer">
		<div class="container d-flex">

			<!-- about-us -->
			<div class="widget about-us">
				<div class="widget-head">
					<h3>
						<a href="home.html" id="logo">
							<img src="assets/images/logo-2.png" alt="">
						</a>
					</h3>
				</div>
				<div class="widget-body">
					<p class="post-desc">Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây
						rối trí và cản trở việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so
						với đoạn văn bản chỉ gồm nội dung kiểu "Nội dung, nội
						dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường hơn.</p>
				</div>
			</div>
			<!-- end about-us -->

			<div class="widget category">
				<div class="widget-head">
					<h3>Danh mục</h3>
				</div>
				<div class="widget-body">
					<ul class="list-category">
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end category -->

			<!-- featured-news -->
			<div class="widget featured-news">
				<div class="widget-head">
					<h3>Bán chạy</h3>
				</div>
				<div class="widget-body">
					<ul class="list-featured-news">
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
						<li>
							<a href=""><span class="cate">•</span>Thời trang thu đông</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end featured-news -->

		</div>
	</div>
	<!-- End wp-footer -->
	<div id="wp-copyright">
		<p class="copyright">20088101 - Nguyễn Phú Điền Nhung</p>
		<p class="copyright">19429021 - Nguyễn Ngọc Luân</p>
	</div>