<!-- TODO: them xu huong link -->
<!-- TODO: fix footer "Thoi trang thu dong" -->
<!-- TODO: fix footer "Thoi trang thu dong" -->
<!-- ==================================================================================== WP-HEADER ====================================================================================== -->
<header id="wp-header">
    <!-- ===================================== TOP-BAR =================================== -->
    <div class="top-bar"></div>
    <!-- end top-bar -->
    <!-- ===================================== LOGO-BAR =================================== -->
    <div class="container">
        <div id="logo-bar" class="d-flex jc-between">
            <div class="follow-icon">
                <ul id="list-socials" class="d-flex">
                    <li>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="">
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-pinterest-square"></i></a>
                    </li>
                </ul>
            </div>
            <!-- end follow-icon -->

            <div class="logo">
                <a href="">
                    <img src="assets/images/logo.png" alt="">
                </a>
            </div>
            <!-- end logo -->

            <form id="search">
                <input type="text" class="search-txt" placeholder="Tìm kiếm sản phẩm">
                <button class="icon-search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <!-- end form search -->

        </div>
        <!-- end logo-bar -->

    </div>

    <!-- ============================= MAIN-MENU AND FORM LOGIN =========================== -->
    <div class="container">
        <nav class="d-flex jc-between">
            <ul id="main-menu" class="d-flex">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="../introduction.html">Giới thiệu</a></li>
                <li><a href="../products.html">Sản phẩm</a>
                    <ul class="sub-menu">
                        <li><a href="category-product-02.html">Áo</a>
                            <ul class="sub-menu">
                                <li><a href="detail-product-03.html">Kaki</a></li>
                                <li><a href="detail-product-03.html">Jean</a></li>
                                <li><a href="detail-product-03.html">Len</a></li>
                                <li><a href="detail-product-03.html">Short</a></li>
                            </ul>
                        </li>
                        <li><a href="category-product-02.html">Quần</a>
                            <ul class="sub-menu">
                                <li><a href="detail-product-03.html">Kaki</a></li>
                                <li><a href="detail-product-03.html">Jean</a></li>
                                <li><a href="detail-product-03.html">Len</a></li>
                                <li><a href="detail-product-03.html">Short</a></li>
                            </ul>
                        </li>
                        <li><a href="category-product-02.html">Giày dép</a>
                            <ul class="sub-menu">
                                <li><a href="detail-product-03.html">Kaki</a></li>
                                <li><a href="detail-product-03.html">Jean</a></li>
                                <li><a href="detail-product-03.html">Len</a></li>
                                <li><a href="detail-product-03.html">Short</a></li>
                            </ul>
                        </li>
                        <li><a href="category-product-02.html">Phụ kiện</a>
                            <ul class="sub-menu">
                                <li><a href="detail-product-03.html">Kaki</a></li>
                                <li><a href="detail-product-03.html">Jean</a></li>
                                <li><a href="detail-product-03.html">Len</a></li>
                                <li><a href="detail-product-03.html">Short</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>



                <li><a href="category-news-04.html">Trang trí nhà</a>
                    <ul class="sub-menu">
                        <li><a href="category-news-04.html">Phòng khách</a>

                        </li>
                        <li><a href="category-news-04.html">Phòng tắm</a>

                        </li>
                        <li><a href="category-news-04.html">Nhà bếp</a>

                        </li>
                        <li><a href="category-news-04.html">Phòng đọc sách</a>

                        </li>
                        <li><a href="category-news-04.html">Phòng ngủ</a>

                        </li>
                    </ul>
                </li>
                <li><a href="../trend-news.html">Xu hướng</a>
                    <ul class="sub-menu">
                        <li><a href="">Xu hướng trang trí nhà năm 2022</a>
                            <ul class="sub-menu">
                                <li><a href="">Tiết kiệm không gian sống và làm việc</a></li>
                                <li><a href="">Kết hợp hiện đại với cổ điển</a></li>
                                <li><a href="">Không gian thân thiện với thú cưng</a></li>
                                <li><a href="">Không gian xanh - thân thiện với thiên nhiên</a></li>
                            </ul>
                        </li>
                        <li><a href="">Xu hướng thiết kế theo màu sắc</a>
                            <ul class="sub-menu">
                                <li><a href="">Trắng, đen và xám</a></li>
                                <li><a href="">Sắc xanh</a></li>
                            </ul>
                        </li>
                        <li><a href="">Xu hướng thiết kế theo hình dạng</a>
                            <ul class="sub-menu">
                                <li><a href="">Đường cong và đường tròn</a></li>
                                <li><a href="">Góc cạnh - tam giác</a></li>
                            </ul>
                        </li>
                        <li><a href="">Xu hướng thiết kế theo chủ đề</a>
                            <ul class="sub-menu">
                                <li><a href="">Châu Âu</a></li>
                                <li><a href="">Cổ điển</a></li>
                                <li><a href="">Hiện đại - công nghệ</a></li>
                                <li><a href="">Noel</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="../sitemap.html">Sitemap</a></li>
                <li><a href="../contact.html">Liên hệ</a></li>
            </ul>
            <!-- end main-menu -->

            <div class="account">
                <a href="../login.html" class="login">Đăng nhập</a>
                <a href="../register.html" class="regis">Đăng ký</a>
            </div>
            <!-- end account -->
        </nav>
    </div>
</header>
<!-- end wp-header -->